body{
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #b79fff 5%, #FFFFFF 95%);
}

.roadmap nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: white;
    width: 850px;
    margin: 0 auto;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.5);
}

.roadmap nav a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.roadmap nav a:link{
    background-color: #9370DB;
    color: white;
    border-color: #5500ff;
}

.roadmap nav a:hover{
    background-color: #BA55D3;
    color: rgb(223, 155, 255);
    transform: scale(1.03);
    border-color: #5500ff;
}

.roadmap nav a:active{
    background-color: #4B0082;
    color: white;
    border-color: #d400ff;
    transform: scale(1);
}

.roadmap h1, .roadmap p{
    text-align: center;
}

.caminho{
    background-color: white;
    width: 850px;
    margin: 0 auto;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.5);
}
